{% extends "layout.html" %}

{% block title %}
  Contact
{% endblock %}

{% block main %}
<form action="/contact" method="get">
  <div class="card fluid center mx-auto w-50">
    <img src="static/COntact Bianca.png" class="card-img-top" alt="image of laptop with screen on it">
    <div class="card-body">
      <p class="card-text"><b>GitHub: </b><a class="link-text" href="https://github.com/TokiLoshi" target="_blank">TokiLoshi</a></p>
      <p class="card-text"><b>Email: </b><a href="mailto:beelineprograms@gmail.com" class="link-text email-link">Bianca</a></p>
    </div>
  </div>
</form>
{% endblock %}