{% extends "layout.html" %}

{% block title %}
  Login
{% endblock %}

{% block main %}
<form action="/login" method="post">
      <div class="card fluid shadow center mx-auto m-2 w-50 mb-2 border-0">
        <h3 class="mt-2">You may only enter if you know the secret word...</h3>
        <p>Or... have a guest login</p>
        <!--Photo by Anna Shvets: https://www.pexels.com/photo/white-and-black-french-bulldog-4587991/-->
        <img src="static/frenchie.png" class="card-img-top" alt="newspaper with mug of black coffee on it">
        <div class="mb-3 m-2">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3 pb-2 ms-2 me-2">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="What's the secret word?">
        </div>
        <button class="btn btn-lg mx-auto w-auto mb-5" type="submit" style="background-color: #5E16EA; color : white">Login</button>
      </div>
    </div>
</form>
</br>
</br>
</br>
</br>

{% endblock %}